<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.digital.insa.service.impl.emp.EmpMapper">

	<insert id="insertEmp" parameterType="empVO">
		<![CDATA[
			INSERT INTO INSA(EMP_NO, 
				EMP_NAME, 
				EMP_ENG_NAME, 
				EMP_EMAIL, 
				EMP_PHONE, 
				EMP_SEX, 
				EMP_RANK, 
				EMP_POSITION, 
				EMP_HIRE_DATE, 
				EMP_RETIRE_DATE, 
				EMP_WORK) 
			VALUES(#{empNo}, 
				   #{empName}, 
				   #{empEngName}, 
				   #{empEmail}, 
				   #{empPhone},  
				   #{empSex}, 
				   #{empRank}, 
				   #{empPosition}, 
				   replace(#{empHireDate}, '-', '/'), 
				   replace(#{empRetireDate}, '-', '/'), 
				   #{empWork} )
		]]>
	</insert>
<!--  

	<update id="updateEmp">

			UPDATE SAMPLE
			SET ID=#{id}
				, NAME=#{name}
				, DESCRIPTION=#{description}
				, USE_YN=#{useYn}
				  WHERE ID=#{id}

	</update>

	<delete id="deleteEmp">

			DELETE FROM SAMPLE
			WHERE ID=#{id}

	</delete>
-->
	<select id="selectEmp" parameterType="empVO" resultType="egovMap">

			SELECT
				EMP_NO
				  , EMP_NAME
				  , EMP_ENG_NAME
				  , EMP_EMAIL
				  , EMP_PHONE
				  , EMP_SEX
				  , EMP_RANK
				  , EMP_POSITION
				  , EMP_HIRE_DATE
				  , EMP_RETIRE_DATE
				  , EMP_WORK
			FROM INSA
			WHERE EMP_NO = #{empNo}

	</select>

	<select id="selectEmpList" parameterType="empVO" resultType="map">
		<![CDATA[
			SELECT * FROM INSA
		]]>
			<!--  
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND	ID LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	NAME LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
			-->
	</select>

	<!-- 
	<select id="getNextEmpId" resultType="egovMap">
		select 
    		nvl((select to_number(max(emp_no)) + 1
        from tb_insa 
        where emp_no like to_char(sysdate, 'yyyyMMdd') || '%')
        	,  to_char(sysdate, 'yyyyMMdd')||'01') as next_emp_no
		from dual;
	</select>
	-->
<!--  
	<select id="selectSampleListTotCnt" parameterType="searchVO" resultType="int">

			SELECT COUNT(*) totcnt
			FROM SAMPLE
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchCondition == 0">
						AND ID LIKE '%' || #{searchKeyword} || '%'
					</when>
		            <when test="searchCondition == 1">
						AND	NAME LIKE '%' || #{searchKeyword} || '%'
					</when>
				</choose>
			</if>
	</select>
-->
</mapper>